<section id='sotd' class='introductory'><h2>Status of This Document</h2>
    
    {{#if isUnofficial}}
    <p>
        This document is a working draft.
        It has no official standing of any kind and does not represent the support or consensus of any group.
    </p>
    {{else}}
        {{#if isNoTrack}}
        <p>
            This document is a Nvidia internal document.
            It has no official standing of any kind and does not represent consensus of any group.
        </p>
        {{else}}
            {{#if isFinal}}
            <p>
                This document is considered a final publication.
                Nvidia may publish errata to this document and may develop future revisions to this document.
            </p>
            {{else}}
            <p>
                This document is intended to become a part of the specification for an Nvidia product.
                This particular document is a <strong>{{specStatusLong}}</strong> document.
            </p>
            {{/if}}
        {{/if}}
    {{/if}}

    {{#if humanReviewEndDate}}
    <p>
        The review period for this document ends on <b>{{humanReviewEndDate}}</b>.
    </p>
    {{/if}}

    {{#if commentsNVBugs}}
    <p>
        Comments should be filed using <a href='http://nvbugs'>http://nvbugs</a> against {{commentsNVBugs}}.
    </p>
    {{/if}}

    {{#if commentsPDF}}
    <p>
        Comments should be added to the PDF review associated with {{commentsPDF}}.
    </p>
    {{/if}}

    {{#if commentsEmail}}
    <p>
        Comments should be sent to <a href='mailto:{{commentsEmail}}@exhange.nvidia.com{{#if subjectPrefix}}?subject={{subjectPrefix}}{{/if}}'>{{commentsEmail}}@exchange.nvidia.com</a>
        {{#if subjectPrefix}} with <code>{{subjectPrefix}}</code> at the start of your email's subject{{/if}}.
    </p>
    {{/if}}

{{{sotdCustomParagraph}}}

</section>
