<section id='sotd' class='introductory'><h2>Status of This Document</h2>
    {{#if isUnofficial}}
        <p>
            This document is a working draft of a potential specification. It has
            no official standing of any kind and does not represent the support or consensus of any
            standards organisation.
        </p>
    {{else}}
        {{#if isNoTrack}}
            <p>
                This document is a PCISIG internal document. It
                has no official standing of any kind and does not represent consensus of the PCISIG
                Membership.
            </p>
        {{else}}
            {{#if isFinal}}
                <p>
                    This specification is an official publication of the PCISIG. The PCISIG
                    may publish errata to this specification and may develop future revisions to this
                    specification.
                </p>
            {{else}}
                <p>
                    This specification is intended to become a PCISIG Standard. At this time it is a {{specStatusLong}}
                    version{{#if specLevelLong}} of the {{specLevelLong}} document{{#if specReviewLong}} for
                    {{specReviewLong}}{{/if}}{{/if}}.
                </p>
                {{#if specReviewLong}}
                    {{#if humanReviewEndDate}}
                        <p>
                            The {{specReviewLong}} period ends {{humanReviewEndDate}}.
                        </p>
                    {{/if}}
                {{/if}}
            {{/if}}
        {{/if}}
    {{/if}}
    {{{sotdCustomParagraph}}}
    {{#if wgPublicList}}
        <p>If you wish to make comments regarding this document, please send them to
            <a href='mailto:{{wgPublicList}}@pcisig.com{{#if subjectPrefix}}?subject={{subjectPrefix}}{{/if}}'>{{wgPublicList}}
                @pcisig.com</a>
            {{#if subjectPrefix}}
                with <code>{{subjectPrefix}}</code> at the start of your email's subject{{/if}}.
        </p>
    {{/if}}
    {{#if addPatentNote}}<p>{{{addPatentNote}}}</p>{{/if}}
</section>
